@media (min-width:1441px)  {
     .trust-section div{
 flex-wrap: nowrap !important;
  }  
 .experience #mainContent{
    max-width: 600px !important;
   
   
}
#trust-cards{
    flex-wrap: wrap !important;
}
 .mainImg {
    width: 400px;
 }
 .services-section #mainContent{
    flex-wrap: nowrap !important;
 }

 header .mainContent  .bigger-header-btn{
   display:flex !important ;
   

 }

}

@media (max-width:1440px) and (min-width:1201px){

  .trust-section div{
 flex-wrap: nowrap !important;
  }  
.experience #mainContent{
    max-width: 600px !important;
   
   
}
#trust-cards{
    flex-wrap: wrap !important;
}
 .mainImg {
    width: 400px;
 }
 .services-section #mainContent{
    flex-wrap: nowrap !important;
 }
 header .mainContent  .bigger-header-btn{
   display:flex !important ;
   

 }
#about-container{
    align-items: center ;
    justify-content: center !important;
    
   
}
}
@media (max-width:1200px) and (min-width:1025px){

#about-container{
    align-items: center ;
    justify-content: center !important;

   
}
#about-container .about{
    text-align: center;
}
.experience-image {
    width: 600px;
    height: min-content;
    margin: auto;
}

  
header #featuresContainer {
    gap: 10px !important;
}
header #featuresContainer .feature-card {
    
    padding: 20px 10px !important ;
   
}
header .mainContent  .bigger-header-btn{
   display:flex !important ;
   

 }
.experience{
    flex-wrap: wrap !important;
   
}



.mainImg{
    width: 500px !important;
    margin: auto;
} 
#trust-cards {
gap: 10px !important;
    justify-content: center !important;
    width: 1000px !important;
    
}
.services-section #mainContent{
    flex-wrap: wrap !important;
 }
.services-section #secImg .img img{
   
   width: 240px;
  }

 .blog-section .section-title  {
    max-width: 70%;
}

}
.services-section #mainContent{
    flex-wrap: wrap ;
 }
 #secImg{
    justify-content: center;
 }






@media (max-width:1024px) and (min-width:993px){
  
    .blog-section .section-title  {
    max-width: 70%;
}
#about-container{
    align-items: center ;
    justify-content: center !important;
   
}
#about-container .about{
    text-align: center;
}
.experience-image {
    width: 600px;
    height: min-content;
    margin: auto;
}


.mainImg{
    width: 500px !important;
    margin: auto;
} 
#trust-cards {
gap: 10px !important;
    justify-content: center !important;
    /* width: 1000px !important; */
    
}
.mainImg {
    width: 500px !important;
}

header .mainContent  .bigger-header-btn{
   display:flex !important ;
   

 }

}

@media (max-width:992px) and (min-width:769px){
    
   header .mainContent h1 {
    font-size: 30px !important;
    font-weight: 700;
    
}
header .mainContent p {
   padding: 10px 0;
   width: 400px;
}
header .mainContent .button {
   
   width: 50%;
}
  
header #featuresContainer {
    gap: 5px !important;
}
header #featuresContainer .feature-card {
    
    padding: 20px 0px !important ;
   
}

  
#about-container{
    align-items: center ;
    justify-content: center !important;
   
}
#about-container .about{
    text-align: center;
}
.experience-image {
    width: 600px;
    height: min-content;
    margin: auto;
}


.mainImg{
    width: 500px !important;
    margin: auto;
} 
#trust-cards {
gap: 10px !important;
    justify-content: center !important;
    /* width: 1000px !important; */
    
}
.gallery-section .slider img{
 width: 300px;
}
header .mainContent  .bigger-header-btn{
   display:flex !important ;
   

 }
 .form #smaller-img{
    display: flex !important ;
} 
.form #bigger-img{
    display: none ;
}
 #mainformContainer{
    display: flex !important;
    flex-direction:column !important ;
}
    .blog-section .section-title {
        max-width: 70%;
    }

}
@media (max-width:768px) and (min-width:577px){
     
  footer  #mainfootercontent{
        width: auto !important;
    }
    .blog-section .section-title  {
    max-width: 70%;
}
 .mainContent{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
    margin-top: 100px !important;
 }
   header .mainContent h1 {
    font-size: 25px !important;
    font-weight: 600;
    
}
header .mainContent p {
   padding: 10px 0;
   
}

  
header #featuresContainer {
    gap: 5px !important;
}
header #featuresContainer .feature-card {
    
    padding: 20px 0px !important ;
   
}
/* #header-btn {
    display: flex;
    flex-direction: column !important;
} */
header .mainContent  .smaller-header-btn{
   display:flex !important;

 }

  
#about-container{
    align-items: center ;
    justify-content: center !important;
   
}
#about-container .about{
    text-align: center;
}
.experience-image {
    width: 600px;
    height: min-content;
    margin: auto;
}


.mainImg{
    width: 500px !important;
    margin: auto;
} 
#trust-cards {
gap: 10px !important;
    justify-content: center !important;
    /* width: 1000px !important; */
    
}
.section-title-Btn {
    flex-direction: column;
   margin-bottom: 20px;
    
}
.section-title-Btn 
.section-title{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center !important;
}
.section-title-Btn  .button{
    width: 220px !important;
}
.form #smaller-img{
    display: flex !important ;
} 
.form #bigger-img{
    display: none ;
}
 #mainformContainer{
    
    flex-direction:column !important ;
}

}
@media (max-width:576px) and (min-width:426px){
footer  #mainfootercontent{
        width: auto !important;
    }
    .blog-section .section-title  {
    max-width: 70%;
}

    
 .mainContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     text-align: center;
    margin-top: 100px !important;
 }
   header .mainContent h1 {
    font-size: 25px !important;
    font-weight: 600;
    
}
header .mainContent p {
   padding: 10px 0;
  width: auto;
}
header .mainContent .button {
   
   width: 50%;
}
  
header #featuresContainer {
    gap: 5px !important;
}
header #featuresContainer .feature-card {
    
    padding: 20px 0px !important ;
   
}
header .mainContent  .smaller-header-btn{
   display:flex !important;

 }

  
#about-container{
    align-items: center ;
    justify-content: center !important;
   
}
#about-container .about{
    text-align: center;
}
.experience-image {
    width: 400px;
    height: min-content;
    margin: auto;
}

.mainImg{
    width: 500px !important;
    margin: auto;
} 
#trust-cards {
gap: 10px !important;
    justify-content: center !important;
    /* width: 1000px !important; */
    
}
.mainImg {
    width: 400px !important;
}
   
.section-title-Btn {
    flex-direction: column;
   margin-bottom: 20px;
    
}
.section-title-Btn 
.section-title{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center !important;
}
.section-title-Btn  .button{
    width: 220px !important;
}
.services-section #secImg{
    min-width: 400px !important;
}
.services-section #secImg .img img{
   
   width: 250px !important;
  }
  #cimematic{
    width: 100% !important;
  }
  .form #smaller-img{
    display: flex !important ;
     width: 100%;
} 
.form #bigger-img{
    display: none ;
}
 .form{
    flex-direction:column !important ;
}
#mainformContainer{
    
    flex-direction:column !important ;
    
}
#mainformContainer form{
    width: 100%;
}
#mainformContainer form tr{
    display: flex !important;
    flex-direction: column !important;
}
#mainformContainer form tr input{
    width: 100%;
}
#mainformContainer form textarea {
width: 100%;

}

}
@media (max-width:425px) and (min-width:376px){
    footer  #mainfootercontent{
        width: auto !important;
    }
    .blog-section .section-title  {
    max-width: 70%;
}
 .mainContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 100px !important;
 }
   header .mainContent h1 {
    font-size: 25px !important;
    font-weight: 600;
    
}
header .mainContent p {
   padding: 10px 0;
  width: auto;
}

  
header #featuresContainer {
    gap: 5px !important;
}
header #featuresContainer .feature-card {
    
    padding: 20px 0px !important ;
   
}
header .mainContent  .smaller-header-btn{
   display:flex !important;

 }
  
#about-container{
    align-items: center ;
    justify-content: center !important;
   
}
#about-container .about{
    text-align: center;
}
.experience-image {
    width: 500px !important;
    height: min-content;
    margin: auto;
}

.section-title-Btn  .button{
    width: 220px !important;
}
.services-section #secImg{
    min-width: 400px !important;
}
.services-section #secImg .img img{
   
   width: 250px !important;
  }
  #cimematic{
    width: 100% !important;
  }

.mainImg{
    width: 400px !important;
    margin: auto;
} 
#trust-cards {
gap: 10px !important;
    justify-content: center !important;
    /* width: 1000px !important; */
    
}
.section-title-Btn {
    flex-direction: column;
   margin-bottom: 20px;
    
}
.section-title-Btn 
.section-title{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center !important;
}
.section-title-Btn  .button{
    width: 220px !important;
}

.form #smaller-img{
    display: flex !important ;
     width: 100%;
} 
.form #bigger-img{
    display: none ;
}
 .form{
    flex-direction:column !important ;
}

#mainformContainer form{
    width: 100%;
}
#mainformContainer form tr{
    display: flex !important;
    flex-direction: column !important;
}
#mainformContainer form tr input{
    width: 100%;
}
#mainformContainer form textarea {
width: 100%;

}
#mainformContainer{
    flex-direction: column !important ;
}

}
@media (max-width:375px) and (min-width:321px){
    footer  #mainfootercontent{
        width: auto !important;
    }
    .blog-section .section-title  {
    max-width: 70%;
}
    
 .mainContent{
    display: flex;
    flex-wrap: wrap;
     text-align: center;
    justify-content: center;
    
    margin-top: 100px !important;
 }
   header .mainContent h1 {
    font-size: 25px !important;
    font-weight: 600;
    
}
header .mainContent p {
   padding: 10px 0;
  width: auto;
}
header .mainContent  .smaller-header-btn{
   display:flex !important;

 }
 .section-title-Btn  .button{
    width: 220px !important;
}
.services-section #secImg{
    min-width: 400px !important;
}
.services-section #secImg .img img{
   
   width: 250px !important;
  }
  #cimematic{
    width: 100% !important;
  }

  
header #featuresContainer {
    gap: 5px !important;
}
header #featuresContainer .feature-card {
    
    padding: 20px 0px !important ;
   
}

 header button{
   width: 190px;
        padding: 8px 0px !important;
  
   
    

}
  
#about-container{
    align-items: center ;
    justify-content: center !important;
   
}
#about-container .about{
    text-align: center;
}
.experience-image {
    width: 300px !important;
    height: min-content;
    margin: auto;
}


.mainImg{
    width: 400px !important;
    margin: auto;
} 
#trust-cards {
gap: 10px !important;
    justify-content: center !important;
    /* width: 1000px !important; */
    
}
.mainImg {
    width: 350px !important;
}
.section-title-Btn {
    flex-direction: column;
   margin-bottom: 20px;
    
}
/* .section-title-Btn  */
.section-title{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center !important;
}
.section-title-Btn  .button{
    width: 220px !important;
}
.form #smaller-img{
    display: flex !important ;
    width: 100%;
} 
.form #bigger-img{
    display: none ;
}
 .form{
    flex-direction:column !important ;
}
#mainformContainer form{
    width: 100%;
}
#mainformContainer form tr{
    display: flex !important;
    flex-direction: column !important;
}
#mainformContainer form tr input{
    width: 100%;
}
#mainformContainer form textarea {
width: 100%;

}
#mainformContainer{
    flex-direction: column  !important;
}
.blog-section .image-slide img, .news .image-slide img {
    width: 250px !important;
}
}
@media (max-width:320px){
    footer  #mainfootercontent{
        width: auto !important;
    }
    footer #phone{
        width: 100%;
        text-align: start;
        margin-bottom: 10px;
        margin-right: 20px;
    }
     footer #phone img{
        right: -30px;
     }
      footer #email{
      width: 100%;
        text-align: start;
        margin-bottom: 10px;
        margin-right: 20px;
    }
     footer #email img{
       right: -30px;
     }

      footer #pages{
        width: 100%;
        text-align: start;
        margin-bottom: 20px;
        margin-right: 20px;
      }


    .blog-section .section-title  {
    max-width: 70%;
}

 .section-title-Btn  .button{
    width: 220px !important;
}
.services-section #secImg{
    min-width: 400px !important;
}
.services-section #secImg .img img{
   
   width: 250px !important;
  }
  #cimematic{
    width: 100% !important;
    align-items: center;
    justify-content: center;
  
  } 
  .services-section #mainImg p{
 position: relative !important;
 text-align: center;
 right: 0% !important;
  }

 
    #headerText{
        padding-right:0px !important;
         padding-left:0px !important;
    }
   
 .mainContent{
    display: flex;
    flex-wrap: wrap;
     text-align: center;
    justify-content: center;
    
    margin-top: 100px !important;
 }
   header .mainContent h1 {
    font-size: 25px !important;
    font-weight: 600;
    
}
header .mainContent p {
   padding: 10px 0;
  width: auto;
}

header #featuresContainer {
    gap: 5px !important;
}
header #featuresContainer .feature-card {
    
    padding: 20px 0px !important ;
   
}

  header button{
   width: 190px;
        padding: 8px 0px !important;
  
   
    

}
 header #header-btn  p{
 display: none !important;
}

  
#about-container{
    align-items: center ;
    justify-content: center !important;
   
}
#about-container .about{
    text-align: center;
}
.experience-image {
    width: 200px !important;
    height: min-content;
    margin: auto;
}


.mainImg{
    width: 500px !important;
    margin: auto;
} 
#trust-cards {
gap: 10px !important;
    justify-content: center !important;
    /* width: 1000px !important; */
    
}
.section-title-Btn {
    flex-direction: column;
   margin-bottom: 20px;
    
}
.section-title-Btn 
.section-title{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center !important;
}
.section-title-Btn  .button{
    width: 120px !important;
    font-size: 16px;
}
header .mainContent  .smaller-header-btn{
   display:flex !important;

 }
 .gallery-section .slider img {
    width: 100%;
 }

 .form #smaller-img{
    display: flex !important ;
     width: 100%;
} 
.form #bigger-img{
    display: none ;
}
#mainformContainer{
    flex-direction: column !important ;
}
#mainformContainer form{
    width: 100% ;
}
#mainformContainer form tr{
    display: flex !important;
    flex-direction: column !important;
}
#mainformContainer form tr input{
    width: 100%;
}
#mainformContainer form textarea {
width: 100%;

}
.blog-section .image-slide img, .news .image-slide img {
    width: 250px !important;
}

}

