

 .single{
background: url(../images/news/single_new.png) top   no-repeat     ;
width: 95%;

}
 .single   .section-title{
    align-self: center;
text-align: center;
color: var(--light-color);
padding: 40px;
background-color: #0000005c;
 backdrop-filter: blur(8px);
max-width: 80%;
margin-top: 25%;

        }
       .single  .content {
            margin-top: 20px;
            background-color: var(--light-color);
            border: 1px solid var(--dark-color);
            width: auto;
            align-self: center;
            padding: 35px;
            border-radius: 10px;
            text-align: right;
        }
 .single  .content h3 {
    margin-top: 35px;
    font-size: 30px;


 }
